.fa-book {
  color: #F5F5F5;
}

.navigation {
  border-bottom-color: #eaeaea;
  border-bottom-width: thin;
  background-color: #0A3442;
  letter-spacing: 1.3px;

  a {
    color: #F4F7F7;
    &:hover {
      color: #FFF7AE;
    }
  }

  ul {
    li {
      padding-left: 15px;
      a {
        &:hover {
          background-color: #104455;
        }
      }
    }
  }

  .navbar-toggler {
    border: 1px solid #F5F5F5;
    margin-top: 10px;
    &:before {
      display: block;
      content: ' ';
      background-image: url('../svg/menu.svg');
      background-repeat: no-repeat;
      height: 30px;
      width: 35px;
      margin-top: 3px;
      margin-bottom: -15px;
    }
  }

  .navbar-brand {
    img {
      width: 30px;
    }
  }
}

.navbar-toggler-right {
  margin-top: 17px;
}

.navbar {
  border-radius: 0px;
}
